@model IEnumerable<NSEmbroidery.Data.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = null;
    @Styles.Render("~/Content/users.css");
    @Scripts.Render("~/Scripts/users.js");
}

<ul class="users-list">
@foreach (var user in Model)
{
    if(user.Email != "admin@mail.com"){
        <li class="users-list-user" data-user-id="@user.Id">@NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(user.Id)</li>
    }
}
</ul>
