/*Add embroidery******************************/

#add-embroidery {

    overflow:auto;
   
}


#add-embroidery-top {
    margin-left:auto;
    margin-right:auto;
    min-width:1100px;
    margin-bottom:10px;
    margin-top:5px;
}

#add-ebroidery-top-left {
    float:left;
    max-width:550px;
}


#browse {
    margin:10px;
    width:300px;
    height:30px;
}

#preview {
    width:500px;
    height:500px;
    border:solid;
    border-color:white;
    border-width:5px;
    border-radius:5px;
    margin-right:10px;
    overflow:auto;
}


    #preview img {
        max-width:100%;
    }

.wait-text {
    color:white;
    text-shadow:0px 0px 20px #000;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
    font-family:sans-serif;
    font-size:30px;
}

.palette-box {
    border:solid;
    border-width:1px;
    border-color:gray;
    width:20px;
    height:20px;
    float:left;
    margin:3px;
}


#palette-all {
    border:solid;
    border-width:1px;
    border-color:gray;
    margin:10px;
    width:140px;
    height:65px;
}





/*Settings********/

#settings {
    border:solid;
    border-color:white;
    border-radius:5px;
    margin:5px;
    width:500px;
    float:left;
}

    #settings label {
        color:white;
        font-family:sans-serif;
        text-shadow:0px 0px 5px #000;
        margin-left:5px;
    }

#allowed {
    margin:5px;
    margin-bottom:10px;
    width:20px;
    height:20px;
}

#grid {
    margin:5px;
    width:20px;
    height:20px;
}

#symbol-color-palette {
    display:none;
    overflow:auto;
    width:140px;
    height:28px;
    position:fixed;
    background-color:#ddd;
    box-shadow:0px 0px 10px #ddd;
}


.symbol-color-box {
    margin:3px;
    border:solid;
    border-width:1px;
    border-color:white;
    width:20px;
    height:20px;
    float:left;
}


#symbols-color {
    width:20px;
    height:20px;
    margin:5px;
    border:solid;
    border-color:gray;
    border-width:1px;
}


#resolutions {
    margin:5px;
}


#cells-count, #input-name {
    margin:5px;
}

#grid {
    margin:5px;
}


#symbols-border {
    margin:5px;
}

.symbol {
    margin:3px;
    width:50px;
}

/*****************/

#add-embroidery-button {
   float:left;
   margin:5px;
   border-radius:2px;
}


#create-embroidery-button {
    float:left;
   margin:5px;
   border-radius:2px;
}


/*Palette*********/

.clear {
  clear: both;
}

.color-palette {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  padding: 15px;
  width: 180px;
}

.color-swatch {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px 2px 0 0;
}

.color-swatch.selected {
  border: 2px solid black;
}

.color-palette .break {
  margin: 5px;
}

.result {
  margin: 20px;
  height: 30px;
  border: 1px solid #333;
}


.palette-window {
    float:left;
    margin:5px;
}

#palette {
    display:inline-block;
    border:solid;
    border-radius:5px;
    margin:5px;
    border-color:white;
    float:left;
    width:35%;
    max-height:200px;
    overflow:hidden;
    height:200px;
    width:500px;
    overflow-y:scroll;
}



.choosed {
    width: 20px;
    height: 20px;
    border: solid;
    float: left;
    border-width: 1px;
    border-color: gray;
    margin:1px;
}



#choosed-palette-border {
    float:left;
    max-width: 50%;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
}


/*****************/

#add-embroidery-loading {
    position:absolute;
    margin-left:30%;
    margin-right:auto;
    margin-top:20px;
    font-family:sans-serif;
    font-size:30px;
    color:white;
    text-shadow:0px 0px 10px #000;
    display:none;
}