

/*Edit Profile*****************************************/


.change-border {
    border:solid;
    border-color:white;
    border-radius:5px;
    display:inline-block;
    padding:5px;
    float:left;
    margin:10px;
}

    .input {
        width:inherit;
        margin:5px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    .label {
        margin-top:6px;
        font-family:sans-serif;
        color:white;
        text-shadow: 0px 0px 3px #111;
        font-size:12px;
        overflow:auto;
    }

.change-button {
    border-radius:3px;
    margin-top:10px;
}

.border-name {
    margin-bottom:10px;
    color:white;
    font-family:sans-serif;
    text-shadow:0px 0px 5px #111;
    font-size:16px;
}

/******************************************************/
