
/*User Content****************************/
.user-content-list {
    margin-left:30%;
    margin-right:30%;
    border:solid;
    border-color:white;
    border-radius:5px;
    overflow:auto;
    padding:10px;
    width:40%;
}

.user-content-list-name {
    font-family:sans-serif;
    margin:5px;
    color:white;
    text-shadow:0px 0px 10px #000;
    cursor:default;
}


.user-content-item-border {
    cursor:default;
    border:solid;
    border-color:white;
    border-radius:3px;
    margin-top:5px;
    margin-bottom:5px;
    width:95%;
    float:left;
    list-style:none;
    padding:5px;
    box-shadow:0px 0px 5px #111;
    font-family:sans-serif;
    color:white;
    text-shadow:0px 0px 5px #111;
}


.user-content-item {
    float:left;
}

    .user-content-item:hover {
        cursor:pointer;
        box-shadow: 0px 0px 5px #000;
    }


.user-content-delete {
    float:right;
}

.user-content-delete:hover {
    cursor:pointer;
    color:#ccc;
}


/***************************************/



.management-users-list {
    width:50%;
    margin-left:22%;
    margin-right:28%;
    list-style:none;
    overflow-y:auto;
}


.management-users-list-border {
    border:solid;
    border-color:white;
    border-width:3px;
    border-radius:5px;
    overflow:auto;
    margin-right:25px;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
}


.management-users-list-user {
    color:white;
    font-family:sans-serif;
    text-shadow:0px 0px 5px #111;
    float:left;
}


.management-users-list-user:hover {
    cursor:pointer;
    color:#ccc;
}

.management-users-list-user-name {
    margin-left:20px;
    color:white;
    font-family:sans-serif;
    text-shadow:0px 0px 5px #111;
    float:left;
    cursor:default;
}

.management-users-list-delete {
    color:white;
    font-family:sans-serif;
    text-shadow:0px 0px 5px #111;
    float:right;
}

.management-users-list-delete:hover {
    cursor:pointer;
    color:#ccc;
}