html{ 
      background: linear-gradient(0deg, #444444 5%,#cccccc 75%) no-repeat center center fixed; 
  background-size: cover;
    min-height:100%;
    min-width:500px;
}


/*LAYOUT*************************************/


/*
.buttom-left {
    display:flexbox;
    border:solid;
}
*/

/*menu layout*********/

ul.layout-menu {
    list-style:none;
    display:inline-block;
}

    ul.layout-menu li {
        margin:5px;
        float:left;
    }

.layout-menu-a{
    font-size:20px;
    font-family:sans-serif;
    text-shadow:2px 2px 5px #333333;
    text-decoration:none;
    color:#fff;
}

/*********************/

/*login register layout***/
ul.login-register{
    list-style:none;
    display:inline-block;
    float:right;
}

    ul.login-register li{
        margin:5px;
        float:left;
        margin-right:10px;
    }

.log-reg-link{
    font-size:18px;
    font-family:sans-serif;
    text-shadow:2px 2px 5px #333333;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
}



/*************************/

/********************************************/




/*Login and register*************************/

.login-register-border-form {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    border: 2px solid #222;
    background: #222;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #333333;
    box-shadow:0px 0px 10px #fff;

}

.login-register-form {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

ul.account-view {
    list-style:none;
    display:block;
}

    ul.account-view li {
        margin:8px;
        font-size:18px;
        font-family:sans-serif;
        text-shadow:2px 2px 5px #333333;
        text-decoration:none;
        color:#fff;
    }

.login-register-form input[type="password"],
.login-register-form input[type="text"] {
    border-radius:5px;
    width:400px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    color:#555;
    font-size:18px;
    padding:5px;
}


.submit-button {
    display:block;
    width:100px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    position:inherit;
    border-radius:10px;
}

#log-off {
    border:none;
    background:none;
    padding-bottom:5px;
    padding-top:0px;
}

.checkbox {
    width:18px;
    height:18px;
}

.wrong-field * {
    color:red;
    list-style:none;
    font-size:12px;
    font-family:sans-serif;
    text-decoration:none;
    text-shadow:none;
}



/********************************************/


/*Menu****************************************/


nav {
  margin-top: 10px;
  margin-bottom:10px;
  padding: 24px;
  font-family: sans-serif;
  box-shadow: 2px 2px 8px -1px #000000;
}
#menu {
  background: #242424;
  border-radius:10px;
}  

.item {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #242424;
  border-bottom: 4px solid #242424;
  padding: 20px 0;
  margin: 0 20px;
  transition: 0.3s ease;
  cursor:pointer;
}

.item:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}


/*********************************************/

/*Gallery*************************************/
#gallery *{
    list-style:none;
    display:inline-block;
}


.gallery-border{
    width: 150px;
    margin: 20px;
    margin: 20px;
    border: solid;
    border-color: #fff;
    border-width: 5px;
    height: 150px;
    width: 150px;
    float: left;
    transition: all 0.2s ease;
    position: relative;
    box-shadow: 8px 8px 10px #333;
    text-align: center;
}

    .gallery-border img {
        max-height:150px;
        width: 150px;
        cursor:pointer;
    }

 .name-text {
    font-family:sans-serif;
    color:#ddd;
    cursor:default;
    text-shadow:0px 0px 10px #111;
}


.gallery-border:hover {
     transform: scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -webkit-transform:scale(1.1); /* Chrome, Safari, Opera */
}


.delete-image {
    text-decoration:none;
    cursor:pointer;
    left:-12px;
    top:-14px;
    position:absolute;
    width:15px;
    height:15px;
    color:#700;
    font-family:sans-serif;
}

    .delete-image:hover {
        color:#f00;
    }


#new-embroidery {
    text-shadow:0px 0px 8px #000;
    color:#0f0;
    font-family:sans-serif;
    right:-30px;
    vertical-align:text-top;
    position:absolute;
    cursor:default;
    margin-right:30px;
}



/*Open image*******/

#open-image-border {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    overflow-y:auto;
}


#image-border {
    width:60%;
    max-width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow:0px 0px 10px #fff;
    min-width:300px;
    
}

#image-border img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

/*Comments*********/

.all-comments-border {
    width:60%;
    max-width:60%;
    margin-left:20%;
    margin-right:20%;
    display:block;
    margin-bottom:20px;
        min-width:300px;
}

#input-comment {
    margin-top:10px;
    margin-bottom:10px;
    width:60%;
    margin-left:20%;
    margin-right:20%;
    height:50px;
    max-width:60%;
    min-width:300px;
}

#send-comment {
    margin-left:40%;
    margin-right:40%;
    width:20%;
    margin-bottom:10px;
    margin-top:5px;
    border-radius:5px;
    height:30px;
    min-width:30px;
}

.comment-border {
      margin-top: 10px;
      margin-bottom:10px;
      overflow:auto;
      box-shadow:0px 0px 10px #ddd;
      height:100%;
      min-width:300px;
}

.who-commented {
    float:left;
    width:10%;
    text-shadow:0px 0px 10px #ccc;
    color:white;
    margin:5px;
    border-right:solid;
    border-color:white;
    border-width:1px;
    overflow:visible;
    cursor:pointer;
    word-wrap:break-word;
    padding:5px;
}

.comment {
    margin-top:5px;
    margin-bottom:5px;
    float:right;
    width:85%;
    word-wrap:break-word;
    text-align:left;
    height:100%;
    color:white;
    text-shadow:0px 0px 5px #ccc;
    cursor:default;

}

/******************/

/**Likes***********/

#like-border{
    float:left;
    color:white;
    box-shadow:0px 0px 5px #ddd;
    width:50%;
    text-align:center;
}

#like-border:hover{
    cursor:pointer;
    background-color:#aaa;
}

#add-like-border {
    float:left;
    width:50%;
    box-shadow:0px 0px 5px #ddd;
    color:white;
    text-align:center;
}

#add-like-border:hover {
    cursor:pointer;
    background-color:#aaa;
}


#likes-users {
    display:none;
    overflow:auto;
    position:fixed;
    text-align:left;
    background-color:#ddd;
    box-shadow:0px 0px 10px #aaa;
    float:right;
    max-height:200px;
    overflow-y:auto;
    max-width:200px;
    border-radius:5px;
}

    #likes-users div {
        font-family:sans-serif;
        cursor:pointer;
        margin:5px;
    }
        #likes-users div:hover {
            text-shadow:0px 0px 10px #111;        
        }

/******************/


/*********************************************/

/*Add embroidery******************************/

#add-embroidery {
    width:100%;
    height:100%;
    overflow:auto;
    margin:auto;
    display:inline-block;
}


#add-embroidery-top {
    display:block;
    margin-left:auto;
    margin-right:auto;
    min-width:1100px;
}

#add-ebroidery-top-left {
    float:left;
    max-width:550px;
}


#browse {
    margin:10px;
    width:300px;
    height:30px;
}

#preview {
    width:500px;
    height:500px;
    border:solid;
    border-color:white;
    border-width:5px;
    margin-right:10px;
    overflow:auto;
}


    #preview img {
        max-width:100%;
    }


.palette-box {
    border:solid;
    border-width:1px;
    border-color:gray;
    width:20px;
    height:20px;
    float:left;
    margin:3px;
}


#palette-all {
    border:solid;
    border-width:1px;
    border-color:gray;
    margin:10px;
    width:140px;
    height:65px;
}





/*Settings********/

#settings {
    border:solid;
    border-color:white;
    border-radius:5px;
    margin:5px;
    width:500px;
    float:left;
}


#symbol-color-palette {
    display:none;
    overflow:auto;
    width:140px;
    height:28px;
    position:fixed;
    background-color:#ddd;
    box-shadow:0px 0px 10px #ddd;
}


.symbol-color-box {
    margin:3px;
    border:solid;
    border-width:1px;
    border-color:white;
    width:20px;
    height:20px;
    float:left;
}


#symbols-color {
    width:20px;
    height:20px;
    margin:5px;
    border:solid;
    border-color:gray;
    border-width:1px;
    background-color:#000;
}


#resolutions {
    margin:5px;
}


#cells-count {
    margin:5px;
}

#grid {
    margin:5px;
}

/*****************/


#add-embroidery-button {
   float:left;
}


/*Palette*********/

.clear {
  clear: both;
}

.color-palette {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  padding: 15px;
  width: 180px;
}

.color-swatch {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px 2px 0 0;
}

.color-swatch.selected {
  border: 2px solid black;
}

.color-palette .break {
  margin: 5px;
}

.result {
  margin: 20px;
  height: 30px;
  border: 1px solid #333;
}


.palette-window {
    float:left;
    margin:5px;
}

#palette {
    display:inline-block;
    border:solid;
    border-radius:5px;
    margin:5px;
    border-color:white;
    float:left;
    width:35%;
    max-height:200px;
    overflow:hidden;
    height:200px;
    width:500px;
    overflow-y:scroll;
}



.choosed {
    width: 20px;
    height: 20px;
    border: solid;
    float: left;
    border-width: 1px;
    border-color: gray;
    margin:1px;
}



#choosed-palette-border {
    float:left;
    max-width: 50%;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
}


/*****************/

/*********************************************/


/*Users***************************************/

.users-list *{
   list-style:none;
   font-family:sans-serif;
   font-size:20px;
   margin:5px;
   color:white;
   text-shadow:2px 2px 5px #333333;
   text-decoration:none;
}

/*********************************************/