

.user-content-list {
    margin:10px;
    border:solid;
    border-color:white;
    border-radius:5px;
    overflow:auto;
}


.user-content-item-border {
    font-family:sans-serif;
    text-shadow:0px 0px 5px #111;
    color:white;
    cursor:default;
}


.user-content-item {

}


.user-content-delete {
    
}

.user-content-delete:hover {
    cursor:pointer;
    color:#ccc;
}