@if (Request.IsAuthenticated) {

    <text>
    <ul class="login-register">
        <li id="current-user" class="log-reg-link" data-userId="@WebSecurity.CurrentUserId">
            Hello, @NSEmbroidery.ASP.Helper.UserIdentity.FirstName

        </li>
        <li id="log-off" class="log-reg-link">
            Log off
        </li>
    </ul>
    </text>
} else {
    <ul class ="login-register">
       <li class="log-reg-link" id="register">Register</li>
       <li class="log-reg-link" id="log-in">Log in</li>
    </ul>
}
