@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accsess Denied</title>
</head>
<body>
    <div>
        You don't have permision to call this operation :(
    </div>
</body>
</html>
