@model IEnumerable<NSEmbroidery.Data.Models.Embroidery>

@{
    Layout = null;
    ViewBag.Title = "Gallery";
    @Scripts.Render("~/Scripts/myScript.js")
}


<h3 class="name-text">Your gallery</h3>

<ul id="gallery">
   

    @foreach (var item in Model)
    {
        <li class="gallery-border">
                <img src=@Url.Action("ShowImage", "Profile", new { id = item.Id }) id="@item.Id" />
            
                @Ajax.ActionLink("x", "DeleteEmbroidery",
                                    new { embroideryId = item.Id },
                                    new AjaxOptions() { UpdateTargetId = "content", HttpMethod = "POST", InsertionMode = InsertionMode.Replace },
                                    new { @class = "delete-image" })         
                
        </li>      
        
    }
</ul>


<div id="open-image-border">
    <div id="open-image">
    </div>
    
    <textarea id="input-comment" />

    <div class="all-comments-border">
        
        <input type="button" value="Send" id="send-comment"/>
        <div class="comments">
        </div>
    </div>
    
</div>