<div id="open-image-border">
    <div id="open-image">
    </div>
    <div class="all-comments-border">
        <div id="add-like-border"></div>
        <div id="like-border"></div>
        <div id="likes-users"></div>
    </div>
    <textarea id="input-comment" />

    <div class="all-comments-border">
        
        <input type="button" value="Send" id="send-comment"/>
        <div class="comments">
        </div>
    </div>
    
</div>


