@model IEnumerable<NSEmbroidery.Data.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = null;
}

<ul class="users-list">
@foreach (var user in Model)
{
    <li>@Ajax.ActionLink(user.FirstName, "OtherUser", new { userId = user.Id }, new AjaxOptions() { UpdateTargetId = "content" })</li>
}
</ul>
