<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>

        <binding transferMode="Streamed"></binding>
        <!--<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="9524288" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
        </binding>-->
      </basicHttpBinding>
      <!--<webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>-->
    </bindings>

    <services>
      
      <service name="NSEmbroidery.Core.EmbroideryCreator"
               behaviorConfiguration="EmbroideryCreatorBehaviorMex">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8020/EmbroideryCreator"/>
          </baseAddresses>
        </host>
        
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="NSEmbroidery.Core.Interfaces.IEmbroideryCreatorService"  />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"  />
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmbroideryCreatorBehaviorMex">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>