<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="EmbroideryCreator_Bindings"  maxReceivedMessageSize="99999999" />
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="NSEmbroidery.Core.EmbroideryCreator"
               behaviorConfiguration="EmbroideryCreatorBehaviorMex">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8030/EmbroideryCreator"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  bindingConfiguration="EmbroideryCreator_Bindings"
                  binding="basicHttpBinding"
                  contract="NSEmbroidery.Core.Interfaces.IEmbroideryCreatorService"  />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"  />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmbroideryCreatorBehaviorMex">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>