@model IEnumerable<NSEmbroidery.Data.Models.Embroidery>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gallery</h2>

@foreach (var item in Model)
{
    //output images
}
