<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="EmbroideryCreator_Bindings"  maxReceivedMessageSize="99999999" />
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="NSEmbroidery.Core.EmbroideryCreator" behaviorConfiguration="MetadataBehavior">

        <endpoint address=""
                  bindingConfiguration="EmbroideryCreator_Bindings"
                  binding="basicHttpBinding"
                  contract="NSEmbroidery.Core.Interfaces.IEmbroideryCreatorService" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>
    
  </system.serviceModel>
</configuration>