<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NSEmbroidery.UI.Properties.AllAddresses" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NSEmbroidery.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NSEmbroidery.UI.Properties.AllAddresses>
      <setting name="Address1" serializeAs="String">
        <value />
      </setting>
    </NSEmbroidery.UI.Properties.AllAddresses>
    <NSEmbroidery.UI.Properties.Settings>
      <setting name="AddressOfService" serializeAs="String">
        <value>http://lwo1-dhp-f54997.synapse.com/Embroidery/EmbroideryCreator.svc</value>
      </setting>
    </NSEmbroidery.UI.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="http://lwo1-dhp-f54997.synapse.com/Embroidery/EmbroideryCreator.svc" value="http://lwo1-dhp-f54997.synapse.com/Embroidery/EmbroideryCreator.svc"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmbroideryCreatorService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lwo1-dhp-f54997.synapse.com/Embroidery/EmbroideryCreator.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmbroideryCreatorService"
        contract="Embroidery.IEmbroideryCreatorService" name="BasicHttpBinding_IEmbroideryCreatorService" />
    </client>
  </system.serviceModel>
</configuration>