<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NSEmbroidery.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmbroideryCreatorService" maxReceivedMessageSize="99999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8030/EmbroideryCreator" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEmbroideryCreatorService"
        contract="Embroidery.IEmbroideryCreatorService" name="BasicHttpBinding_IEmbroideryCreatorService" />
    </client>
  </system.serviceModel>-->
  <userSettings>
    <NSEmbroidery.UI.Properties.Settings>
      <setting name="AddressOfService" serializeAs="String">
        <value>http://localhost/Embroidery/EmbroideryCreator.svc</value>
      </setting>
    </NSEmbroidery.UI.Properties.Settings>
  </userSettings>
</configuration>