<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmbroideryCreatorService"  transferMode="Streamed"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8020/EmbroideryCreator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmbroideryCreatorService"
                contract="Embroidery.IEmbroideryCreatorService" name="BasicHttpBinding_IEmbroideryCreatorService" />
        </client>
    </system.serviceModel>
</configuration>